{% extends 'base.html' %}
{% block titulo %} Inicio | Home {% endblock %} 

{% block content %}


<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold text-center">Biembenido al sitio de la Libreria</h1>
    <p class="col-md-8 fs-4 text-center d-block">Empesar a ingresar libros</p>
    <hr class="my-2">
    <p class="lead">
        <a href="" class="btn btn-primary  btn-lg" role="button">Empezar</a>
    </p>
  </div>
  </div>
{% endblock %}
