<form enctype="multipart/form-data" method="post">
	{% csrf_token %} {% for campo in formulario %}
	<div class="mb-3">
		{% if campo.field.widget.input_type == 'file' and campo.value %}
			<img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" >
		{% endif %}
		<label for="" class="form-label">{{ campo.label}} </label>
		<input
			type="{{campo.field.widget.input_type}}"
			class="form-control"
			name="{{ campo.name }}"
			id="{{ campo.name }}"
			aria-describedby="helpId"
			placeholder="{{ campo.label}}"
      values="{{ campo.titulo | default:" "}}"

		/>
	</div>
	<div cass="col-12 help-text">{{campo.errors}}</div>
	{% endfor %}

	<input
		name=""
		id=""
		class="btn btn-success"
		type="submit"
		value="Enviar informacion"
	/>
	<a class="btn btn-danger" href="{% url 'libros' %}" role="button">Cancelar</a>
</form>